@import url("https://fonts.googleapis.com/css?family=Comfortaa|Source+Sans+Pro");
h1 {
  color: #545454;
  font: 30pt "Comfortaa", sans-serif;
}

h2 {
  font: 15pt "Comfortaa", sans-serif;
  font-weight: bold;
}

body {
  margin: 0;
  font: 100% "Source Sans Pro", sans-serif;
  background-color: #fcfcfa;
  color: #101010;
}

a {
  text-decoration: none;
}

img.emoji {
  margin: 0px !important;
  display: inline !important;
}

#header {
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Comfortaa", sans-serif;
  position: fixed;
  width: 100%;
  background-color: #fcfcfa;
  border-bottom: 3px solid #6748a1;
  z-index: 1;
}

#header #header-left {
  font-size: 28pt;
}

#header #header-right {
  font-size: 15pt;
}

#header #header-right a, #header #header-right img {
  color: #545454;
  margin-left: 10px;
}

#header #header-logo {
  height: 50px;
}

#splash {
  display: inline-block;
  margin: 0;
  background-size: cover;
  width: 100%;
  height: 650px;
  max-height: 100%;
  border-bottom: 3px solid #22878a;
  text-align: center;
  -ms-text-align: center;
}

#splash #splash-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#splash #motto::after, #splash #submotto::after {
  content: "";
  float: left;
  width: auto;
  height: 3px;
  border-radius: 3px;
}

#splash #motto {
  margin: 20px;
  font: 50pt "Comfortaa", sans-serif;
}

#splash #motto::after {
  background-color: #6748a1;
}

#splash #submotto {
  font: 30pt "Comfortaa", sans-serif;
}

#page {
  margin: auto;
  padding: 30px;
  max-width: 1300px;
}

.item-image {
  display: block;
}

.item-image img {
  max-width: 40%;
  margin: 20px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.faq-item {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.faq-item .question, .faq-item .answer {
  max-width: 100%;
  margin: 15px;
  padding: 5px 20px;
}

.faq-item .question {
  display: inline-block;
  width: auto;
  background-color: #e7e7e5;
  margin-right: auto;
  -webkit-border-radius: 20px 20px 20px 0;
  -moz-border-radius: 20px 20px 20px 0;
  -ms-border-radius: 20px 20px 20px 0;
  border-radius: 20px 20px 20px 0;
}

.faq-item .answer {
  width: 900px;
  background-color: #f4f4f2;
  margin-left: auto;
  -webkit-border-radius: 20px 20px 0 20px;
  -moz-border-radius: 20px 20px 0 20px;
  -ms-border-radius: 20px 20px 0 20px;
  border-radius: 20px 20px 0 20px;
}

#updates-flex {
  display: flex;
  flex-wrap: wrap;
}

#updates-flex .update-item {
  width: 300px;
}
