// Imports our fonts
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Noto+Sans");

// All typography and color pallete for the page.
$header-font: "Comfortaa", sans-serif;
$content-font: "Noto Sans", sans-serif;
$bg: #fcfcfa;
$fg: #101010;
$fade-fg: $fg + #444444;
$purple: #6748a1;
$cyan: #22878a;
$red: #b1392d;

// mixins for special rendering engine properties
@mixin text-align($type) {
    text-align: $type;
    -ms-text-align: $type;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

// Creates autocolored bars down the page. Uses nth-child arithmetic.
@mixin color-bar($width) {
    
    &::after {
        content: "";
        float: left;
        width: $width;
        margin: 0 (100% - $width) / 2;
        height: 3px;
        border-radius: 3px;
    }

    &:nth-child(3n - 2)::after {
        background-color: $purple;
    }
    &:nth-child(3n - 1)::after {
        background-color: $cyan;
    }
    &:nth-child(3n)::after {
        background-color: $red;
    }
}

// Default tags
h1 {
    color: $fade-fg;
    font: 30pt $header-font;
}

h2 {
    font: 15pt $header-font;
    font-weight: bold;
}

body {
    margin: 0;
    font: 13pt $content-font;
    background-color: $bg;
    color: $fg;
}

a {
    text-decoration: none;
    color: $cyan;
}

li {
    margin: 6px 0;
}

// Styles twemoji emoji, when working
img.emoji {
    margin: 0px !important;
    display: inline !important;
}

// Header is a flexbox
#header {
    padding: 10px 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $header-font;
    position: fixed;
    width: 100%;
    background-color: $bg;
    border-bottom: 3px solid $purple;
    z-index: 2;

    #header-left {
        margin-left: 10px;
        font-size: 28pt;
    }

    #header-right {
        margin: 0 10px;
        font-size: 15pt;
        a, img {
            color: $fade-fg;
        }

        a {
            margin-right: 10px;
        }

        img {
            margin-bottom: 3px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    #header-logo {
        height: 50px;
    }
}

// Doesn't show up unless on small devices!
#subheader {
    display: none;
    position: fixed;
    top: 57px;
    background-color: $bg - #111111;
    width: 100%;
    font: 12pt $header-font;
    text-align: center;
    padding: 10px 0;
    z-index: 1;
    border-bottom: 3px solid $red;
    
    a {
        color: $fade-fg;
        margin: 0 5px;
    }
}

#splash {
    display: inline-block;
    margin: 0;
    background-size: cover;
    width: 100%;
    height: 650px;
    max-height: 100%;
    border-bottom: 3px solid $cyan;

    @include text-align(center);

    #splash-content {
        position: relative;
        top: 50%;  // HACK Centers the splash content
        transform: translateY(-50%);  // ditto
    }

    #motto {
        margin: 20px;
        font: 50pt $header-font;

    }

    // Special color-bar for #splash-content
    #splash-content::after {
        content: "";
        float: left;
        width: 10%;
        height: 3px;
        margin: 15px 45%;
        border-radius: 3px;
        background-color: $red;
    }

    #submotto {
        font: 30pt $header-font;
    }
}

#page {
    margin: auto;
    padding: 10px;
    max-width: 1300px;
}

.section {
    margin: 10px 0;
    @include color-bar(40%);
    
    // Fixes internal link position
    &::before {
        display: block;
        content: "";
        margin-top: -70px;
        height: 70px;
    }

    &:last-child::after {
        display: none;
    }
}

.item-heading {
    display: inline-block;
    width: auto;
    background-color: $bg - #111111;
    padding: 5px 10px 0;
    margin: 5px 0;
    border-bottom: 3px solid $purple;  // Gives a tab-like effect
    
    @include border-radius(10px 10px 3px 3px);
}

.item-content {
    max-width: 100%;
}

.info-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin:40px 0;
    
    @include color-bar(20%);

    &::after {
        margin-top: 10px;
    }

    &:last-child::after {
        content: none;
    }
}

.item-image {
    display: block;
    
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 10px;

    img {
        width: 300px;
        max-width: 100%;
    }

    right {
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
    }
}

#gigabit-breakdown {
    font-family: $header-font;
    font-size: 30pt;
    color: $fg + #666666;
    margin: 50px auto;
    text-align: center;
}

#manmade-header {
    font-family: $header-font;
    font-size: 20pt;
    margin:50px;
    text-align: center;
}


.faq-item {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    
    .question, .answer {
        max-width: 90%;
        margin: 15px 0;
        padding: 5px 20px;
    }
    
    .question {
        display: inline-block;
        width: auto;
        background-color: $bg - #151515;
        margin-right: auto;
        border-bottom: 3px solid $cyan;

        @include border-radius(20px 20px 20px 0);
    }

    .answer {
        width: 900px;
        background-color: $bg - #080808;
        margin-left: auto;
        border-bottom: 3px solid $red;

        @include border-radius(20px 20px 0 20px);
    }
}

#updates-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;

    .update-item {
        width: 400px;
        max-width: 100%;
        text-align: center;  // Centers both the item and the header.
    }
}

#contact-links {
    text-align: center;
    a {
        font: 14pt $header-font;
    }
}

#footer {
    padding: 20px;
    font-family: $header-font;
    background-color: $bg - #111111;
    text-align: center;
    border-top: 3px solid $purple;
}

// Smaller screen sizes make the splash smaller
@media only screen and (max-width: 1150px) {
    #splash {
        height: 450px;

        #motto {
            font-size: 40pt;
        }
        #submotto {
            font-size: 20pt;
        }
    }
}

// Mobile devices hide the #header-right and show the #sub-header
@media only screen and (max-width: 600px) {
    #header {
        justify-content: center;
        height: 35px;

        #header-left {
            margin-left: 0;
        }

        #header-right {
            display: none;
        }

        #header-logo {
            height: 35px;
        }
    }

    #splash #motto {
        font-size: 30pt;
    }

    #gigabit-breakdown {
        font-size: 20pt;
    }

    #manmade-header {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 18pt;
    }

    #subheader {
        display: block;
    }

    .section::before {
        margin-top: -90px;
        height: 90px;
    }
}

// Super small devices have some special styles for the faq to keep it readable.
@media only screen and (max-width: 310px) {
    .faq-item .answer {
        width: 95%;
        padding: 5px 10px;
    }
}