@import url("https://fonts.googleapis.com/css?family=Comfortaa|Noto+Sans");

$header-font: "Comfortaa", sans-serif;
$content-font: "Noto Sans", sans-serif;
$bg: #fcfcfa;
$fg: #101010;
$fade-fg: $fg + #444444;
$purple: #6748a1;
$cyan: #22878a;
$red: #b1392d;

@mixin text-align($type) {
    text-align: $type;
    -ms-text-align: $type;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin color-bar($width) {
    
    &::after {
        content: "";
        float: left;
        width: $width;
        margin: 0 (100% - $width) / 2;
        height: 3px;
        border-radius: 3px;
    }

    &:nth-child(3n - 2)::after {
        background-color: $purple;
    }
    &:nth-child(3n - 1)::after {
        background-color: $cyan;
    }
    &:nth-child(3n)::after {
        background-color: $red;
    }
}

h1 {
    color: $fade-fg;
    font: 30pt $header-font;
}

h2 {
    font: 15pt $header-font;
    font-weight: bold;
}

body {
    margin: 0;
    font: 13pt $content-font;
    background-color: $bg;
    color: $fg;
}

a {
    text-decoration: none;
}

li {
    margin: 6px 0;
}

img.emoji {
    // Override any img styles to ensure Emojis are displayed inline
    margin: 0px !important;
    display: inline !important;
}

#header {
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $header-font;
    position: fixed;
    width: 100%;
    background-color: $bg;
    border-bottom: 3px solid $purple;
    z-index: 1;

    #header-left {
        font-size: 28pt;
    }

    #header-right {
        font-size: 15pt;
        a, img {
            color: $fade-fg;
            margin-left: 10px;
        }

        img {
            height: 20px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    #header-logo {
        height: 50px;
    }
}

#splash {
    display: inline-block;
    margin: 0;
    background-size: cover;
    width: 100%;
    height: 650px;
    max-height: 100%;
    border-bottom: 3px solid $cyan;

    @include text-align(center);

    #splash-content {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    #motto::after, #submotto::after {
        content: "";
        float: left;
        width: auto;
        height: 3px;
        border-radius: 3px;
    }

    #motto {
        margin: 20px;
        font: 50pt $header-font;

    }

    #splash-content::after {
        content: "";
        float: left;
        width: 10%;
        height: 3px;
        margin: 15px 45%;
        border-radius: 3px;
        background-color: $red;
    }

    #submotto {
        font: 30pt $header-font;
    }
}

#page {
    margin: auto;
    padding: 30px;
    max-width: 1300px;
}

.section {
    padding: 10px 0;
    @include color-bar(100%)
}


.info-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin:40px 0;
    
    @include color-bar(60%);

    &::after {
        margin-top: 10px;
    }

    &:last-child::after {
        content: none;
    }
}

.item-image {
    display: block;
    
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 10px;

    img {
        max-width: 300px;
    }

    right {
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
    }
}

#gigabit-breakdown {
    font-family: $header-font;
    font-size: 40pt;
    color: $fg + #666666;
    margin: 50px;
    text-align: center;
}

.faq-item {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    
    .question, .answer {
        max-width: 100%;
        margin: 15px;
        padding: 5px 20px;
    }
    
    .question {
        display: inline-block;
        width: auto;
        background-color: $bg - #151515;
        margin-right: auto;
        border-bottom: 3px solid $cyan;

        @include border-radius(20px 20px 20px 0);
    }

    .answer {
        width: 900px;
        background-color: $bg - #080808;
        margin-left: auto;
        border-bottom: 3px solid $red;

        @include border-radius(20px 20px 0 20px);
    }
}

#updates-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .update-item {
        width: 400px;
    }
}
